@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

		/* Styling the Body element i.e. Color,
		Font, Alignment */
		body {
			background-color: #e1e6e4;
      font-family: "Poppins", sans-serif;
			text-align: center;
		}

		/* Styling the Form (Color, Padding, Shadow) */
		form {
			background-color: #f3d1dc;
			max-width: 800px;
			margin: 50px auto;
			padding: 30px 20px;
			box-shadow: 2px 5px 10px rgba(216, 105, 13, 0.616);
		}

		/* Styling form-control Class */
		.form-control {
			text-align: left;
			margin-bottom: 25px;
		}

		/* Styling form-control Label */
		.form-control label {
			display: block;
			margin-bottom: 10px;
		}

		/* Styling form-control input,
		select, textarea */
		.form-control input,
		.form-control select,
		.form-control textarea {
			border: 1px solid #777;
			border-radius: 2px;
      font-family: "Poppins", sans-serif;
			padding: 10px;
			display: block;
			width: 95%;
		}

		/* Styling form-control Radio
		button and Checkbox */
		.form-control input[type="radio"],
		.form-control input[type="checkbox"] {
			display: inline-block;
			width: auto;
		}

		/* Styling Button */
		button {
			background-color: #f94cff;
			border: 1px solid #ff843a
			border-radius: 2px;
      font-family: "Poppins", sans-serif;
			font-size: 21px;
			display: block;
			width: 100%;
			margin-top: 50px;
			margin-bottom: 20px;
		}
    input[type='radio']:after {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      top: -2px;
      left: -1px;
      position: relative;
      background-color: #d1d3d1;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 2px solid white;
  }

  input[type='radio']:checked:after {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      top: -2px;
      left: -1px;
      position: relative;
      background-color: #ffa500;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 2px solid white;
  }
	  .form-inline {
		text-align: left;
		margin-bottom: 25px;
	}

	/* Styling form-control Label */
	.form-control-2 label {
		display: block;
		margin-bottom: 10px;
	}

	/* Styling form-control input,
	select, textarea */
	.form-control-2 input,
	.form-control-2 select,
	.form-control-2 textarea {
		border: 1px solid #777;
		border-radius: 2px;
  font-family: "Poppins", sans-serif;
		padding: 10px;
		display: block;
		width: 95%;
	}
