*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.aopter-container{
    position: relative;
    width: 100%;
}
  
.adopter-sidebar{
    position: fixed;
    width: 300px;
    height: 100%;
    background: linear-gradient(45deg, #f94cff, #ff843a);
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.adopter-sidebar ul li{
    width: 100%;
    list-style: none;
    color: #fff;
    text-align: center;
    font-size: 30px;
}

.adopter-sidebar ul li a{
    width: 100%;
    padding: 1px;
    list-style: none;
    text-decoration: none;
    color: #fff;
    text-align: center;
    min-width: 60px;
    font-size: 35px;
}

.adopter-sidebar ul li:hover{
    background: #444;
}

.adopter-sidebar ul li:first-child{
    line-height: 60px;
    margin-bottom: 20px;
    font-weight: 600;
    border-bottom: 1px solid #fff;
}

.adopter-sidebar ul li:first-child:hover{
    background: none;
}

.adopter-sidebar .sidebar-titles{

}

.adopter-sidebar img{
    margin-top: 40px;
    border-radius: 50%;
}

.adopter-main{
    position: absolute;
    width: calc(100% - 300px);
    min-height: 100vh;
    left: 300px;
    background: #f5f5f5;
}

.adopter-top-bar{
    position: fixed;
    height: 60px;
    width: calc(100% - 300px);
    background-color: #fff;
    display: grid;
    grid-template-columns: 10fr 0.4fr 1fr;
    grid-gap: 5px;
    align-items: center;
    color: #444;
    padding: 0 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.adopter-top-bar .adopter-search{
    position: relative;
    max-width: 400px;
}

.adopter-search input{
    width: 100%;
    min-width: 128px;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    background: #f5f5f5;
}

.adopter-search i{
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

.adopter-cards{
    margin-top: 60px;
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.adopter-cards .card{
    background: linear-gradient(45deg, #f94cff, #ff843a);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.number{
    font-size: 35px;
    font-weight: 500;
    color: #fff;
}

.card-name{
    font-size: 24px;
    color: #444;
    font-weight: 600;
}

.icon-box{
    font-size: 45px;
    color: #444;
}

.adopter-table{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    align-items: self-start;
    padding: 0 20px 20px 20px;
}

.app-table{
    min-height: 350px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

app-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #444;
}

table{
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

thead td{
    font-weight: 600;
    color: #333;
}

table tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

tbody tr:hover{
    background: #444;
    color: #fff;
}

table tr:last-child{
    border-bottom: none;
}

td{
    font-size: 24px;
    padding: 9px 5px;
}

td i{
    padding: 7px;
    color: #fff;
    border-radius: 50px;
}

.application table tbody td:last-child{
    white-space: nowrap;
}

@media(max-width:1090px){
    .adopter-sidebar{
        width: 60px;
    }
    .adopter-main{
        width: calc(100% - 60px);
        left: 60px;
    }
    .adopter-top-bar{
        width: calc(100% - 60px);
    }
}

@media(max-width:860px) {
    .adopter-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .adopter-table{
        grid-template-columns: 1fr;
    }
}

